* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgba(5, 0, 0, 0.6), rgba(5, 0, 0, 0.6)),
    url("images/bus.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

nav {
  height: 50px;
  width: 100%;
  padding: 20px 0;
}
.container {
  width: 1200px;
  max-width: 85%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0px 6px;
}
nav ul li a {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  margin-left: 30px;
}
nav ul li a:hover,
a.active {
  background-color: #52af3a;
  border-radius: 5px;
}
.main-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 70px;
  align-items: center;
  margin-bottom: 17px;
}
.booking-content {
  color: #fff;
  width: 100%;
  float: left;
  margin-left: 30px;
  text-align: justify;
  z-index: 2;
}
.booking-content h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
}
.booking-form {
  background-color: rgba(235, 228, 228, 0.774);
  /* border: 1px solid #ddd; */
  padding: 10px;
  border-radius: 5px;
  float: right;
  width: 80%;
  margin: 50px 0px 0px 80px;
  z-index: 2;
}
.booking-form h3 {
  margin: 10px 0px;
}
.booking-form .input-group {
  margin: 10px 0;
}
.booking-form .calculations {
  margin: 10px 0;
}
.booking-form .calculations p {
  font-weight: 500;
  margin-bottom: 10px;
}
.booking-form input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #f3f5ff;
  border-radius: 4px;
  margin: 10px 0;
  outline: 0;
}
.booking-form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.f-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inp-width {
  min-width: 100px;
}
.plus-minus-btn {
  margin: 25px 10px 0px 10px;
  word-spacing: 20px;
}
.btn {
  width: 100%;
  color: #0424a7;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  background-color: rgba(235, 228, 228, 0);
  border: 0 solid rgba(235, 228, 228, 0);
  outline: 0;
}
.btn:hover {
  background-color: #52af3a;
  color: white;
}
.btn-style {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  background-color: #52af3a;
  outline: 0;
}
.amount {
  display: flex;
  justify-content: space-between;
}

#popup {
  display: none;
}
.booking-form .fromDis{
  width: 100%;
  display: block;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #f3f5ff;
  border-radius: 4px;
  margin: 10px 0;
  outline: 0;
}
.popup {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.close-btn {
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  color: #f31313;
  font-weight: 700;
  margin-bottom: 5px;
  background-color: rgba(235, 228, 228, 0);
  border: 0 solid rgba(235, 228, 228, 0);
  outline: 0;
  padding: 5px;
}

@media screen and (max-width: 968px) {
  .container {
    max-width: 95%;
  }
  .main-content {
    display: block;
  }

  .booking-content {
    font-size: 18px;
    width: 500px;
  }

  .booking-content h1 {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 200;
  }
  .booking-form {
    float: left;
    margin: 50px 0px 0px 35px;
  }
}
.head-part {
  display: flex;
  justify-content: space-between;
}

.bg-color {
  background-color: rgba(235, 228, 228, 0.9) !important;
  margin-bottom: 80px;
}


@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  nav {
    background-color: #333;
    width: 100%;
    height: 190px;
    padding: 0;
  }

  nav ul {
    display: block;
  }

  ul li {
    text-align: center;
    padding: 10px;
  }
  nav ul li a {
    margin-left: 0px;
  }

  li:last-child {
    margin-top: 18px;
    background: transparent !important;
  }
  ul li a:hover:not(.active) {
    background: transparent !important;
  }
  li:hover {
    background-color: #111;
  }
  .booking-content {
    font-size: 16px;
    width: 400px;
  }
  .booking-content h1 {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 200;
  }
  .popup {
    width: 100%;
   
  }

  
}
